.navbar-container {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0);
    padding: 16px 0;

    .navbar-brand {
      margin-right: calc(var(--bs-navbar-brand-margin-end) + 28px);
    }
    .btn {
      min-width: 108px;
      font-size: 18px;
      color: #535353;
      border: 1px solid #535353;
      &.btn-register {
        color: #ccc;
        background-color: #303030;
        &:hover {
          color: var(--primary);
          background-color: black;
        }
      }
      &.btn-login {
        margin-right: 16px;
        &:hover {
          color: var(--primary);
        }
      }
    }
    .navbar-nav {
      .nav-link {
        font-size: 20px;
        &.active {
          color: var(--primary);
        }
      }
    }
  }