.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #959595;
}

.h-custom {
    height: calc(100% - 73px);

    .form-login {
        padding: 60px 30px;
        // border: 1px dashed var(--primary);
    }
    .form-control:focus {
        border-color: var(--primary);
        box-shadow: 0 0 0 0.25rem var(--primary);
    }
}

@media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
}